dash>="2.9.3"
plotly>="5.14.1"
pandas>="2.0.1"
openpyxl>="3.1.2"
ipykernel>="6.23.1"
dash-bootstrap-components>="1.4.1"
dash-bootstrap-templates>="1.0.8"
pymysql>="1.0.3"
sqlalchemy>="2.0.15"
python-dotenv>="1.0.0"
pydantic>="1.10.8"
kami-logging>="0.2.1"
asyncmy>="0.2.7"
dash-labs>="1.2.0"
numerize>="0.12"
toml